
@import '../../scss/mixins.scss';

.StoryPage {
  text-align: center;
  @include overlay(white, 1);
  overflow-y: auto;

  .content {
    position: relative;
    z-index: 5;
    height: 100%;
    margin-top: 50px;
    @include desktop {
      margin-top: 100px;
    }
  }

}
