
@import '../../scss/mixins.scss';

.StoryPage {
  text-align: center;
  @include pic-full-bg('Engagement-0354-min-min.JPG');

  .Overlay {
    background-color: $purple-mid;
    opacity: 0.5;
  }

  .content {
    position: relative;
    z-index: 5;
    height: 100%;
  }

}
