
@import '../../../scss/mixins.scss';

.Page {
  position: absolute;

  @include desktop {
    position: fixed;
  }

  top: 0;
  left: 0;
  height: 100%;

  @include desktop {
    transition: left $transition-time, top $transition-time;
  }
}
