
@import '../../../scss/mixins.scss';

span.Link {
  color: white;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;

  &:hover, &.disabled {
    text-decoration: none;
  }

  &.disabled {
    cursor: default;
  }

}
