
@import '../../scss/mixins.scss';

.Homepage {
  @include pic-full-bg('Engagement-0188-min-min.JPG');
  .title, .Subtitle {
    color: white;
  }

  .swipe-alert {
    position: absolute;
    bottom: 10%;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    opacity: 0.5;

    @include desktop {
      display: none;
    }
  }
}
