
@import '../../scss/mixins.scss';

.FullPageImageAndText {
  position: relative;
  width: 100%;
  height: 70%;
  @include desktop {
    height: 90%;
  }

  .Subtitle {
    position: absolute;
    top: 70%;
    text-align: center;
    z-index: 45;
    width: 100%;
    text-shadow: none;
  }

  .img {
    height: 100%;
    width: 100%;
    @include pic-bg('');
    background-color: white;
  }
}
